In [1]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeRegressor

from sklearn.model_selection import cross_val_score, KFold

In [2]:
df = pd.read_csv('../ml_pro/data/happiness.csv')
df.head()

,country,rank,score,high,low,gdp,family,lifexp,freedom,generosity,corruption,dystopia
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [3]:
X = df.drop(['rank', 'country', 'score'], axis = 1)
y = df['score']

Applying cross validation. If we use more cross validation, we get less error

In [8]:
model = DecisionTreeRegressor()
cvs = [2, 5, 10, 20, 100]

for cv in cvs:
    score = cross_val_score(model, X, y, cv=cv, scoring='neg_mean_squared_error')
    print(f'MSE with cv = {cv}: {np.abs(np.mean(score))}')

MSE with cv = 2: 1.3151760873271359
MSE with cv = 5: 0.2061237839577313
MSE with cv = 10: 0.06558040435089914
MSE with cv = 20: 0.022389031345827565
MSE with cv = 100: 0.01049827814861587

To get the train/split datasets, we use kfold function

In [9]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
for train, test in kf.split(df):
    print(train)
    print(test)

[  0   1   2   3   4   5   6   7   8  10  11  13  14  16  17  20  21  22
  23  25  26  27  28  32  33  34  35  36  37  38  39  40  41  43  44  46
  47  48  49  50  51  52  53  54  55  56  57  58  59  61  62  63  64  65
  66  67  70  71  72  73  74  76  77  79  80  82  83  85  87  88  89  91
  92  94  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111
 112 113 114 115 116 119 120 121 122 123 124 125 127 128 129 130 132 133
 134 135 136 139 140 141 143 144 145 146 148 149 150 151 152 154]
[  9  12  15  18  19  24  29  30  31  42  45  60  68  69  75  78  81  84
  86  90  93  95 117 118 126 131 137 138 142 147 153]
[  0   1   2   3   5   6   7   8   9  12  13  14  15  17  18  19  20  21
  23  24  25  28  29  30  31  33  34  35  37  38  39  40  42  43  44  45
  46  47  48  49  50  52  53  54  57  58  59  60  61  62  63  64  68  69
  70  71  72  73  74  75  77  78  80  81  83  84  86  87  88  89  90  91
  92  93  94  95  97  98  99 100 101 102 103 104 105 106 107 108 110 111
 112 113 114 115 116 117 118 120 121 125 126 127 128 129 130 131 132 135
 136 137 138 139 140 142 145 146 147 148 149 150 151 152 153 154]
[  4  10  11  16  22  26  27  32  36  41  51  55  56  65  66  67  76  79
  82  85  96 109 119 122 123 124 133 134 141 143 144]
[  1   2   3   4   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  24  26  27  29  30  31  32  34  35  36  37  38  41  42  43
  45  46  48  49  50  51  52  54  55  56  57  58  59  60  63  65  66  67
  68  69  70  71  72  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  89  90  91  92  93  95  96  99 100 102 103 106 107 109 112 114
 115 116 117 118 119 120 121 122 123 124 126 127 128 129 130 131 132 133
 134 135 137 138 139 140 141 142 143 144 145 147 149 152 153 154]
[  0   5  23  25  28  33  39  40  44  47  53  61  62  64  73  94  97  98
 101 104 105 108 110 111 113 125 136 146 148 150 151]
[  0   1   4   5   9  10  11  12  14  15  16  18  19  20  21  22  23  24
  25  26  27  28  29  30  31  32  33  36  37  39  40  41  42  44  45  47
  48  50  51  52  53  54  55  56  57  58  60  61  62  63  64  65  66  67
  68  69  71  73  74  75  76  78  79  81  82  84  85  86  87  88  90  92
  93  94  95  96  97  98  99 101 102 103 104 105 106 107 108 109 110 111
 113 115 116 117 118 119 121 122 123 124 125 126 129 130 131 133 134 136
 137 138 141 142 143 144 145 146 147 148 149 150 151 152 153 154]
[  2   3   6   7   8  13  17  34  35  38  43  46  49  59  70  72  77  80
  83  89  91 100 112 114 120 127 128 132 135 139 140]
[  0   2   3   4   5   6   7   8   9  10  11  12  13  15  16  17  18  19
  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  38  39  40
  41  42  43  44  45  46  47  49  51  53  55  56  59  60  61  62  64  65
  66  67  68  69  70  72  73  75  76  77  78  79  80  81  82  83  84  85
  86  89  90  91  93  94  95  96  97  98 100 101 104 105 108 109 110 111
 112 113 114 117 118 119 120 122 123 124 125 126 127 128 131 132 133 134
 135 136 137 138 139 140 141 142 143 144 146 147 148 150 151 153]
[  1  14  20  21  37  48  50  52  54  57  58  63  71  74  87  88  92  99
 102 103 106 107 115 116 121 129 130 145 149 152 154]